<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_header :: common_header(~{::title})">
  <title>Demo Home</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"/>
<div class="p-5">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<script>
  $(function() {
    $.getJSON(
      '/service/user',
      function(data) {
        for (let user of data) {
          $('<tr>'
            + '<th scope="row">' + user.id + '</th>'
            + '<td>' + user.name + '</td>'
            + '<td>' + user.email + '</td>'
            + '</tr>')
          .appendTo('.table > tbody')
        }
      }
    )
  })
</script>
</body>
</html>
